.card {
  border-radius: 8px;
  margin: 0 auto;
  height: 250px;
  width: 250px;
  overflow: hidden;
  background-size: cover;
  margin: 10px;
  cursor: pointer;
}

.info {
  position: relative;
  height: 250px;
  width: 250px;
  background-color: #fff;
  transform: translateY(100%)
    translateY(-70px)
    translateZ(0);
  transition: transform 0.5s ease-out;
}

.info:before {
  z-index: -1;
  display: block;
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: blur(10px);
  background-size: cover;
  opacity: 0.25;
  transform: translateY(-100%)
    translateY(77px)
    translateZ(0);
  transition: transform 0.5s ease-out;
}

.card:hover .info,
.card:hover .info:before {
  transform: translateY(0) translateZ(0);
}

.title {
  margin: 0;
  padding: 24px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.87);
}

.description {
  margin: 0;
  padding: 0 24px 24px;
  font-size: 11px;
  line-height: 1.5;
}

